@media only screen and (min-width: 1600px)
{
    .weather {
        width: 550px; 
        height: 800px; 
    }
    .header__input{
        height: 40px; 
        font-size: 1.7rem; 
    }
    .header__capital {
        font-size: 4.5rem; 
    }
    .header__date-time {
        font-size: 2.1rem; 
        margin-top: 24px; 
    }
    .temp {
        font-size: 8.2rem; 
    }
    .footer__weather-list-item {
        font-size: 2rem; 
        padding: 12px 12px; 
    }
} 
@media only screen and (min-width: 800px) and (max-width: 1024px) 
{
    .weather {
        width: 450px; 
        height: 650px; 
    }
    .header__input {
        height: 36px; 
        font-size: 1.5rem; 
    }
    .header__capital {
        font-size: 4rem; 
    }
    .header__date-time {
        font-size: 2rem; 
        margin-top: 32px; 
    }
    .temp {
        font-size: 8rem; 
    }
    .footer__weather-list-item {
        font-size: 2rem; 
        padding: 12px 12px; 
    }
}
@media only screen and (max-width: 47.9375em) 
{
    .weather {
        width: 100%; 
        height: 100%; 
    }
    .header__input {
        height: 30px; 
        font-size: 1.6rem; 
    }
    .header__capital {
        font-size: 4rem; 
    }
    .header__date-time {
        font-size: 2rem; 
        margin-top: 28px; 
    }
    .main-body__temp {
        width: 300px; 
    }
    .temp {
        font-size: 7.5rem; 
    }
    .footer__weather-list-item {
        font-size: 1.6rem; 
        padding: 8px 8px; 
    }
}